.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm{
  position: absolute;
  top: 15%;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-style: italic;
}

.headerTitleLg{
  position: absolute;
  top: 20%;
  font-size: 50px;
  font-family: 'Lora', serif;
  font-style: italic;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}